.repoItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    background-color: whitesmoke;
}

.name {
    font-weight: bold;
}

.additional {
    margin-top: 20px;
}

.additional>span {
    padding-right: 20px
}

.pullRequestsCount {
    margin-top: 20px
}